<script src="/home.js"></script>

<div class="container">
    <h1>Micro-pastebin</h1>
        <div>

                <textarea name="Text1" cols="40" rows="5" autofocus>autofocus</textarea>
            <br>
            <input id="send" type="button" value="Send">
            <input id="update" type="button" value="Get">
        </div>
    <footer>
        <a href="/about">About us</a>
        <mymetadata id="<%=id%>"/>
    </footer>
</div> <!-- /container -->